<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<style>
    * {
      box-sizing: border-box;
    }
    
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    
   
    header {
      background-color: #333;
      padding: 5px;
      text-align: center;
      font-size: 35px;
      color: white;
    }
    

    nav {
      float: left;
      width: 30%;
      height: 900px; 
      background: #ccc;
      padding: 20px;
    }
    

    nav ul {
      list-style-type: none;
      padding: 0;
    }
    
    article {
      float: left;
      padding: 20px;
      width: 70%;
      background-color: #f1f1f1;
      height: 900px; 
    }
    
    section::after {
      content: "";
      display: table;
      clear: both;
    }
    
    footer {
      background-color: #444;
      padding: 10px;
      text-align: center;
      color: white;
    }
    
    @media (max-width: 600px) {
      nav, article {
        width: 100%;
        height: auto;
      }
    }
    </style>
    </head>
    <body>
    
    
    <header>
      <h2> Xin chào <%= user.name %> </h2>
    </header>
    
    <section>
      <nav>
        <ul>
            <h1>Quản lý tài khoản</h1>
            <li><a href="http://localhost:3000/home">Trang chủ</a></li><br>
            <li><a href="http://localhost:3000/password/changepassword">Đổi mật khẩu</a></li><br>
            <li><a href="http://localhost:3000/logout">Đăng xuất</a></li>
        </ul>
      </nav>
      
      <article>
        <iframe width="100%" height="100%"
            src="https://www.youtube.com/embed/Wk-uwQ9n7EY?autoplay=1&mute=0">
    </iframe>
    </section>
    
    <footer>
      <p>Thân ái quyết thắng</p>
    </footer>
    
    </body>
</html>
           
